@import url("./fonts/caviarfonts/style.css");
body {
  background-color: #f2f2f2;
}
::-webkit-scrollbar {
  display: none;
}

nav {
  background-color: #3e8914 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.header-bg {
  background: url("./images/Homepage.jpeg") no-repeat;
  height: 750px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  width: auto;
}

.header-text {
  font-size: 40px;
  font-weight: 1000 !important;
  /* margin-bottom: 25px; */
  margin-top: 140px !important;
}

.bg-gray {
  background-color: #f2f2f2;
}

.intro-text {
  font-weight: 599 !important;
  color: black !;
}

.mobile-view {
  display: none;
}

.desktop-view {
  display: block;
}

.map {
  height: 450px;
  width: 100%;
}

.activity-image {
  width: 620px;
  margin-top: 20px;
  height: 400px;
  padding-left: 40px;
}

.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  z-index: 2;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .header-bg {
    height: 200px;
    padding: 0 !important;
  }
  .home {
    width: 100vw !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
  }
  .header-text {
    font-size: 18px;
    /* margin-bottom: 25px; */
    margin-top: 10px !important;
    padding-right: 20px !important;
    align-self: flex-end !important;
  }
  .intro-text {
    font-size: 14px;
  }

  .intro {
    margin-left: 10px;
    margin-right: 10px;
  }

  .camp-card {
    flex-direction: column;
  }

  .btn {
    font-size: 13px;
  }

  .mobile-view {
    display: block;
  }

  .desktop-view {
    display: none;
  }

  .map {
    height: 300px;
    width: 100%;
  }

  .activity-mobile {
    flex-direction: column;
  }

  .activity-image {
    width: 100vw;
    /* margin-top: 20px; */
    padding-left: 30px;
    padding-right: 30px;
    height: 180px;
  }
}
